
<div class="" ng-repeat="(field, data) in vm.datastatus" style="width: calc(100%); margin-top: 5px; text-align: left;">
  <div class="clearfix"></div>
  <div class="filter">
    <span class="label label-primary bold" style="font-size: .8em">{{field}}</span> = <span class="label label-default" style="font-size: .8em">{{vm.generateFilterInfo(data)}}</span>
    <span class="pull-right">
        <md-button class="md-icon-button md-warn" style="min-height: 30px;"  aria-label="Delete filter" ng-click="vm.deleteFilter(data.id,field)">
            <md-icon style="font-size: 24px; margin-top: -10px;" >delete</md-icon>
        </md-button>      
    </span>
    <div class="clearfix"></div>
  </div>
</div>