<md-dialog class="modal-lg" aria-label="GadgetEditor">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Edit Gadget</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar>
      <form ng-cloak>   
          <md-subheader class="md-primary form-header">Edit Content:</md-subheader>
        <md-input-container ng-if="element.type != 'html5'" >
          <label ng-if="element.type != 'html5'">Datasource</label>
          <md-select ng-if="element.type != 'html5'" required md-autofocus placeholder="Select new templace datasource" ng-model="element.datasource" ng-model-options="{trackBy: '$value.name'}" md-on-open="loadDatasources()">
            <md-option ng-value="{name:datasource.identification,id:datasource.id,refresh:datasource.refresh,type:datasource.mode}" ng-repeat="datasource in datasources">{{datasource.identification}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-dialog-content">
          <div  ui-refresh='refreshCodemirror' style="width:calc(100%); margin-top:-30px;"  md-autofocus ui-codemirror="{lineWrapping: true, fixedGutter: false, lineNumbers: true, theme:'twilight', lineWrapping : true, mode: 'xml', autofocus: true, autoRefresh:true, onLoad : codemirrorLoaded}" ng-model="element.content"></div >
        </md-input-container>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()" class="md-raised md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
